target/
!.mvn/wrapper/maven-wrapper.jar
upload-dir/
tutorials/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/src/main/resources/application-local.properties
/src/main/resources/templates/partials/comment_old.ftl
/src/main/resources/templates/partials/most-read-article.ftl
/src/main/resources/templates/partials/file_upload.ftl
/src/main/resources/templates/front/index_old2.ftl
/src/main/resources/templates/front/index_old.ftl
/src/main/resources/templates/front/post_old.ftl
/src/main/resources/templates/front/posts_old.ftl
/src/main/resources/templates/layouts/front_old.ftl
/readme-todos.md
/src/test/java/com/smatt/LocalTest.java
