target/
!.mvn/wrapper/maven-wrapper.jar
upload-dir/
tutorials/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/src/main/resources/application-local.properties
/src/main/resources/application-heroku.properties
/src/main/resources/app
/src/main/resources/heroku
/src/main/resources/application-heroku-demo.properties
