.footer-top-area {
    font-family:Raleway;
}
.footer-top-area .zigzag-bottom{background: #f4f4f4}

.footer-top-area {background: none repeat scroll 0 0 #333;
color: #999;
padding: 35px 0 180px;
padding-bottom: 100px;
}


.footer-bottom-area {background: #000;color: #fff}
.footer-about-us span {
  color: #5a88ca;
}
.footer-wid-title {
    font-family: raleway;
    font-size: 19px;
    font-weight: 500;
    /*margin-bottom: 5px*/
}

.footer-about-us h2 {
    font-weight: 400;
    margin-bottom: 0px;
    font-size: 25px
}
.footer-about-us p , .footer-newsletter p {
    line-height: 1.5;
    margin: 10px 0;
    font-size: 14px;
}
.footer-about-us p a {
    color: #5a88ca;
}
.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    border-bottom: 1px dashed #555;
    font-size: 14px;
}
.footer-menu a {
    display: block;
    padding: 5px 0;color: #999
}


.footer-social a {
  background: none repeat scroll 0 0 #5a88ca;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  width: 40px;border: 1px solid #5a88ca;
}

.footer-social a:hover {background-color: #222;border-color: #666}

.footer-social {margin-top: 20px}


.newsletter-form input[type="email"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
.newsletter-form input[type="submit"] {
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 7px 20px;
    text-transform: uppercase;border: 1px solid #5a88ca;
}
.newsletter-form input[type="submit"]:hover {background: #222;border-color: #666}
.newsletter-form {
    margin-top: 25px;
}

a {color: #5a88ca}

a:hover, a:focus {color: #17a78b}
.footer-bottom-area {
  background: none repeat scroll 0 0 #000;
  color: #fff;
  padding-bottom: 40px;
}